{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Rating {% endblock title %}


{% block nav_class_main %}active{% endblock %}


{% block content %}
        <!-- item list -->
      {% if object_list %}
      <h2></h2>
      <div class="panel panel-default">
          <div class="panel-heading">
            Лучшие рестораны
          </div>
      </div>
      <table  class="table table-striped ">
        <thead>
          <tr>
           <th>#</th><th>Restaurant</th><th>Rating</th>
          </tr>
        </thead>
        <tbody>
        {% for restaurant in object_restaurants %}
          <tr>
           <td>{{ forloop.counter }}</td>
           <td><a href="{% url 'restaurant:detail' restaurant.id %}">{{ restaurant.name }}</a></td>
           <td>{{ restaurant.get_full_rating }}</td>
           <td>
              <form action="{% url 'restaurant:delete_rest' restaurant.id %}">
                <button type="submit" class="btn btn-primary" value="Delete">
                  <span class="glyphicon glyphicon-trash"></span> Удалить
                </button>
              </form>
           </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% else %}
        <p><br />Пока нет ресторанов</p>
      {% endif %}

        <!-- /item list -->

<!-- end template -->
{% endblock content %}
