{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Rating {% endblock title %}


<!--{% block nav_class_contact %}active{% endblock %}-->


{% block content %}
<div class="container-fluid" id="main">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <!-- item list -->
      {% if object_list %}
      <h2>Лучшие рестораны</h2>
      <div class="panel panel-default">
          <div class="panel-heading">
            Лучшие рестораны
          </div>
      </div>
      <table  class="table table-striped ">
        <thead>
          <tr>
           <th>#</th><th>Restaurant</th><th>Rating</th>
          </tr>
        </thead>
        <tbody>
        {% for restaurant in object_restaurants %}
          <tr>
           <td>{{ forloop.counter }}</td>
           <td><a href="{% url 'restaurant:detail' restaurant.id %}">{{ restaurant.name }}</a></td>
           <td>{{ var }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% else %}
        <p><br />Пока нет ресторанов</p>
      {% endif %}

        <!-- /item list -->

    </div>

    <div id="map-canvas" class="col-xs-push-1 col-xs-10 col-sm-push-0 col-sm-4">
      <!--map-canvas will be postioned here-->
      <div class="row">
      </div>
    </div>

</div>
<!-- end template -->
{% endblock content %}
