{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Restaurant review {% endblock title %}


<!--{% block nav_class_contact %}active{% endblock %}-->


{% block content %}
<div class="container-fluid" id="main">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <!-- item list -->
      {% if restaurant %}
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
              <h1>{{ restaurant.name }} <small></small></h1>
            </div>
              <p>{{ restaurant.text_review }}</p>
              <hr>

            <input id="input-1" class="rating" data-min="0" data-max="5" data-step="1">
          </div>

        </div>
      {% else %}
        <p><br />Пока нет info</p>
      {% endif %}

        <!-- /item list -->

    </div>

    <div id="map-canvas" class="col-xs-push-1 col-xs-10 col-sm-push-0 col-sm-4">
      <!--map-canvas will be postioned here-->
      <div class="row">
      </div>
    </div>

</div>
<!-- end template -->
{% endblock content %}
