{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Restaurant review {% endblock title %}
{% block load_stars %}
  <link href="{% static 'stars/css/star-rating.css' %}" media="all" rel="stylesheet" type="text/css"/>
{% endblock load_stars %}

<!--{% block nav_class_contact %}active{% endblock %}-->


{% block content %}
<div class="container-fluid" id="main">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <!-- item list -->
      {% if restaurant %}
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
              <h1>{{ restaurant.name }} <small></small></h1>
            </div>
              <p>{{ restaurant.text_review }}</p>
              <hr>

          {% if restaurant.get_category_rating %}

            <form class="form-horizontal">
            <div class="form-group" class="col-sm-6">
            {% for cur_rating in restaurant.get_category_rating %}
               <label class="col-sm-2 control-label"><br/>{{ cur_rating.category.name }}</label>
               <input class="rating-input" type="number" id="{{ forloop.counter }}" value="{{ cur_rating.value }}" />
            {% endfor %}
            </div>
            </form>

          {% endif %}

          </div>

        </div>
      {% else %}
        <p><br />Пока нет info</p>
      {% endif %}

        <!-- /item list -->

    </div>

    <div id="map-canvas" class="col-xs-push-1 col-xs-10 col-sm-push-0 col-sm-4">
      <!--map-canvas will be postioned here-->
      <div class="row">
      </div>
    </div>

</div>
<!-- end template -->
{% endblock content %}

{% block down_script %}
  <script src="{% static 'stars/js/index.js' %}" type="text/javascript"></script>
  {#  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
  <script src="{% static 'stars/js/star-rating.js' %}" type="text/javascript"></script>

{% endblock down_script %}

