{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Restaurant review {% endblock title %}
{% block additional_css %}
  <link href="{% static 'stars/css/star-rating.css' %}" media="all" rel="stylesheet" type="text/css"/>

      <!-- Owl Carousel -->
		<link rel="stylesheet" href="{% static 'slider/css/owl.carousel.css' %}">
        <!-- Font-awesome.min css -->
		<link rel="stylesheet" href="{% static 'slider/css/font-awesome.min.css' %}">
        <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'slider/css/main.css' %}">

{% endblock additional_css %}

{% block content %}
        <!-- item list -->
      {% if restaurant %}
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="page-header">
              <h1>{{ restaurant.name }} <small></small></h1>
              <form action="{% url 'restaurant:edit_rest' restaurant.id %}">
                <button type="submit" class="btn btn-primary" value="Edit">
                  <span class="glyphicon glyphicon-pencil"></span> Редактировать
                </button>
              </form>
            </div>
              <p>{{ restaurant.text_review }}</p>
              <hr>

          {% if restaurant.get_category_rating %}

            <form class="form-horizontal">
            <div class="form-group" class="col-sm-6">
            {% for cur_rating in restaurant.get_category_rating %}
               <label class="col-sm-2 control-label"><br/>{{ cur_rating.category.name }}</label>
               <input class="rating-input" type="number" id="{{ forloop.counter }}" value="{{ cur_rating.value }}" />
            {% endfor %}
            </div>
            </form>

          {% endif %}

          {% if restaurant.get_photos %}

           <section id="slider">
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-8">#}
                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="title">
                            <h3>Фото</h3>
                        </div>
                        <div id="owl-example" class="owl-carousel">
                          <div>
                              <img class="img-responsive" src="{% static 'slider/images/slider-img-1.jpg' %}" alt=""\
                                        title="{{ cur_photo.photo }}">
                          </div>

                          {% for cur_photo in restaurant.get_photos %}
                            <div>
                                <img class="img-responsive" src="{{ cur_photo.photo.url }}" alt="">
                            </div>
                          {% endfor %}
                          <div>
                              <img class="img-responsive" src="{% static 'slider/images/slider-img-2.jpg' %}" alt=""\
                                        title="{{ cur_photo.photo }}">
                          </div>

          {% endif %}

                        </div>
                    </div>
{#                </div><!-- .col-md-12 close -->#}
{#            </div><!-- .row close -->#}
{#        </div><!-- .container close -->#}
    </section><!-- slider close -->


          </div>

        </div>
      {% else %}
        <p><br />Пока нет info</p>
      {% endif %}

        <!-- /item list -->


{% endblock content %}

{% block additional_script %}
{# start js #}
  <script src="{% static 'stars/js/index.js' %}" type="text/javascript"></script>
  <script src="{% static 'stars/js/star-rating.js' %}" type="text/javascript"></script>

{# slider js #}
  <script src="{% static 'slider/js/plugins.js' %}"></script>
  <script src="{% static 'slider/js/main.js' %}"></script>

{% endblock additional_script %}

